<div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card p-4" style="width: 25rem;">
            <form>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="text" class="form-control" id="email" placeholder="Enter your email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter your password" required>
                </div>
                <div class="mb-3">
                    <label for="role" class="form-label">Role</label>
                    <select type="role" class="form-select" id="password" required>
						<option value="client">Ügyfél</option>
						<option value="service">Dolgozó</option>
						<option value="admin">Admin</option>
					</select>
                </div>
                <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>
        </div>
    </div>