   <div class="container my-5">
        <div class="card shadow-lg">
            <div class="row g-0">
                <!-- Fénykép -->
                <div class="col-md-4">
                    <img [src]="offer?.person?.photoUrl" [alt]="offer?.person?.name" class="img-fluid rounded-start">
                </div>
                <!-- Szöveg -->
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="card-title">{{offer?.name}} Neve</h2>
                        <h5 class="card-subtitle mb-3 text-muted">{{offer?.person?.name}}</h5>
                        <p class="card-text">
                          {{offer?.description}}
                        </p>
                      <a [routerLink]="'/services/' + offer?.id" class="btn btn-primary">Részletek</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @for (date of dates; track $index) {
              <div class="col-sm-6 col-md-3 text-center">
                <button class="btn btn-primary" (click)="selectDate(date)">{{date}}</button>
              </div>
            }
        </div>
        <div class="row my-3">
            @for (time of times; track $index) {
              <div class="col-sm-6 col-md-3 text-center " >
                @if(time.clientid){
                  <button class="btn btn-secondary">{{time.time}}</button>
                }
                @else {
                  <button class="btn btn-success">{{time.time}}</button>
                }
              </div>
            }
        </div>
    </div>